<div class="row mt-3">
  <div class="d-none d-md-block col-md-4">
    <div class="d-none d-md-block position-fixed container">
      <div class="row">
        <div class="col col-md-4">
          <div id="scroll-target" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">Marriage to the Glory of God</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Before You Say "I Do"</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">The Joy of Covenant Faithfulness</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">Honoring Christ in Headship and Submission</a>
            <a class="list-group-item list-group-item-action" href="#list-item-5">Pressing Onward, Shoulder to Shoulder</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-md-8">
    <h1>Hey <%= invite ? invite.name : 'there' %>,</h1>
    <p>
      We wanted to share with you the reason for marriage! The video below shares about the foundation of our
      marriage, our relationship with Jesus. There are also some helpful resources for those who are wondering what
      marriage is, for those who are thinking about getting married, for those who are already married and more.
    </p>
    <p>
      <strong>We hope you'll enjoy watching, reading and listening to these resources!</strong>
    </p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KGlx11BxF24?rel=0" allowfullscreen></iframe>
    </div>
    <h1 id="list-item-1" class="mt-5">Marriage to the Glory of God</h1>
    <p>
      God designed marriage as a lifelong commitment between one man and one woman for their mutual joy, the good of society,
      and the procreation of children. Marriage ultimately displays the glory and grace of God by picturing the unbreakable
      relationship between Christ and his church.
    </p>
    <div class="card-group mb-3">
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/this-momentary-marriage-en/landscape/this-momentary-marriage.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Book</h5>
          <h6 class="card-subtitle mb-2 text-muted">This Momentary Marriage</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/books/this-momentary-marriage" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/the-surpassing-goal-marriage-lived-for-the-glory-of-god-hddop4xr-en/landscape/the-surpassing-goal-marriage-lived-for-the-glory-of-god-hddop4xr.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Article</h5>
          <h6 class="card-subtitle mb-2 text-muted">The Surpassing Goal: Marriage Lived for the Glory of God</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/articles/the-surpassing-goal-marriage-lived-for-the-glory-of-god" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
    </div>
    <div class="card-group mb-3">
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/marriage-god-s-showcase-of-covenant-keeping-grace-vd1rfluu-en/landscape/marriage-god-s-showcase-of-covenant-keeping-grace-vd1rfluu-3ebf0170dca290fcedab6a8c3446f9ae.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sermon</h5>
          <h6 class="card-subtitle mb-2 text-muted">Marriage: God’s Showcase of Covenant-Keeping Grace</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/messages/marriage-gods-showcase-of-covenant-keeping-grace" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/happily-ever-after-afk91oo0-en/landscape/happily-ever-after-afk91oo0.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Book</h5>
          <h6 class="card-subtitle mb-2 text-muted">Happily Ever After</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/books/happily-ever-after" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
    </div>
    <h1 id="list-item-2" class="mt-5">Before You Say "I Do"</h1>
    <p>
      The more difficult issues a couple can talk through before marriage, the better.
    </p>
    <div class="card-group mb-3">
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/are-we-too-financially-unstable-to-get-married-vcyqnvob-en/landscape/are-we-too-financially-unstable-to-get-married-vcyqnvob.jpg?ts=1498769006&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Podcast</h5>
          <h6 class="card-subtitle mb-2 text-muted">Are We Too Financially Unstable to Get Married?</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/interviews/are-we-too-financially-unstable-to-get-married" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/must-i-wait-for-my-parents-to-approve-of-my-future-spouse-8epomhms-en/landscape/must-i-wait-for-my-parents-to-approve-of-my-future-spouse-8epomhms.jpg?ts=1466780099&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Podcast</h5>
          <h6 class="card-subtitle mb-2 text-muted">Must I Wait for My Parents to Approve of My Future Spouse?</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/interviews/must-i-wait-for-my-parents-to-approve-of-my-future-spouse" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
    </div>
    <div class="card-group mb-3">
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/the-joyful-simple-wedding-23kounpc-en/landscape/the-joyful-simple-wedding-23kounpc.jpg?ts=1465240561&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Podcast</h5>
          <h6 class="card-subtitle mb-2 text-muted">Weddings: Don’t Break the Bank</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/interviews/weddings-dont-break-the-bank" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/questions-to-ask-when-preparing-for-marriage-fnzbghpq-en/landscape/questions-to-ask-when-preparing-for-marriage-fnzbghpq.jpg?ts=1500388777&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Article</h5>
          <h6 class="card-subtitle mb-2 text-muted">Questions to Ask When Preparing for Marriage</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/articles/questions-to-ask-when-preparing-for-marriage" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
    </div>
    <h1 id="list-item-3" class="mt-5">The Joy of Covenant Faithfulness</h1>
    <p>
      Rock-solid commitment in marriage is the best soil for the long-term flourishing of tender affections.
    </p>
    <div class="card-group mb-3">
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/the-seven-year-itch-and-the-joy-of-lifelong-marriage-fp13jgjz-en/landscape/the-seven-year-itch-and-the-joy-of-lifelong-marriage-fp13jgjz.jpg?ts=1497992689&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Article</h5>
          <h6 class="card-subtitle mb-2 text-muted">The Seven-Year Itch and the Joy of Lifelong Marriage</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/articles/the-seven-year-itch-and-the-joy-of-lifelong-marriage" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/sexual-relations-in-marriage-nbyml7nw-en/landscape/sexual-relations-in-marriage-nbyml7nw.jpg?ts=1498769559&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sermon</h5>
          <h6 class="card-subtitle mb-2 text-muted">Sexual Relations in Marriage</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/messages/sexual-relations-in-marriage" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
    </div>
    <div class="card-group mb-3">
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/marital-intimacy-is-more-than-sex-f7xiandx-en/landscape/marital-intimacy-is-more-than-sex-f7xiandx.jpg?ts=1456937863&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Article</h5>
          <h6 class="card-subtitle mb-2 text-muted">Marital Intimacy Is More Than Sex</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/articles/marital-intimacy-is-more-than-sex" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/romantic-love-is-a-wonderful-gift-and-a-terrible-god-nvzndb7i-en/landscape/romantic-love-is-a-wonderful-gift-and-a-terrible-god-nvzndb7i.jpg?ts=1454531567&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=811&h=455&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Podcast</h5>
          <h6 class="card-subtitle mb-2 text-muted">Romantic Love Is a Wonderful Gift — and a Terrible God</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/interviews/romantic-love-is-a-wonderful-gift-and-a-terrible-god" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
    </div>
    <h1 id="list-item-4" class="mt-5">Honoring Christ in Headship and Submission</h1>
    <p>
      At the heart of mature masculinity is a sense of benevolent responsibility to lead, provide for, and protect women in
      ways appropriate to a man's differing relationships. At the heart of mature femininity is a freeing disposition to
      affirm, receive, and nurture strength and leadership from worthy men in ways appropriate to a woman's
      differing relationships.
    </p>
    <div class="card-group mb-3">
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/husbands-who-love-like-christ-and-the-wives-who-submit-to-them-1xftp7rx-en/landscape/husbands-who-love-like-christ-and-the-wives-who-submit-to-them-1xftp7rx-a849512704cf85003d3e132f01262e9d.jpg?ts=1528911348&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sermon</h5>
          <h6 class="card-subtitle mb-2 text-muted">Husbands Who Love Like Christ and the Wives Who Submit to Them</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/messages/husbands-who-love-like-christ-and-the-wives-who-submit-to-them" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/what-does-it-mean-for-a-man-to-lead-his-family-spiritually-en/landscape/what-does-it-mean-for-a-man-to-lead-his-family-spiritually-5732839a937c837f04f77f262e1ed9c8.jpg?ts=1528838648&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Podcast</h5>
          <h6 class="card-subtitle mb-2 text-muted">What Does It Mean for a Man to Lead His Family Spiritually?</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/interviews/what-does-it-mean-for-a-man-to-lead-his-family-spiritually" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
    </div>
    <div class="card-group mb-3">
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/love-and-respect-basics-for-marriage-jnjh1klu-en/landscape/love-and-respect-basics-for-marriage-jnjh1klu.jpg?ts=1500479857&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Article</h5>
          <h6 class="card-subtitle mb-2 text-muted">Love and Respect</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/articles/love-and-respect" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/love-your-wife-for-the-lord-s-sake-g4qxv41e-en/landscape/love-your-wife-for-the-lord-s-sake-g4qxv41e.jpg?ts=1458157813&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Video</h5>
          <h6 class="card-subtitle mb-2 text-muted">Love Your Wife for the Lord’s Sake</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/labs/love-your-wife-for-the-lords-sake" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
    </div>
    <h1 id="list-item-5" class="mt-5">Pressing Onward, Shoulder to Shoulder</h1>
    <p>
      “God gets glory when two very different and very imperfect people forge a life of faithfulness in the furnace of
      affliction by relying on Christ.” — John Piper
    </p>
    <div class="card-group mb-3">
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/marriage-forgiving-and-forbearing-mqqstpkr-en/landscape/marriage-forgiving-and-forbearing-mqqstpkr.jpg?ts=1498770512&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sermon</h5>
          <h6 class="card-subtitle mb-2 text-muted">Marriage: Forgiving and Forbearing</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/messages/marriage-forgiving-and-forbearing" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/hope-for-hard-marriages-kz8epttl-en/landscape/hope-for-hard-marriages-kz8epttl.jpg?ts=1486749206&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Podcast</h5>
          <h6 class="card-subtitle mb-2 text-muted">Hope for Hard Marriages</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/interviews/hope-for-hard-marriages" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
    </div>
    <div class="card-group mb-3">
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/nine-ways-the-gospel-transforms-marriage-nr6u51re-en/landscape/nine-ways-the-gospel-transforms-marriage-nr6u51re.jpg?ts=1498848018&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Article</h5>
          <h6 class="card-subtitle mb-2 text-muted">Nine Ways the Gospel Transforms Marriage</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/articles/nine-ways-the-gospel-transforms-marriage" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://dg.imgix.net/do-not-fear-the-hard-things-of-marriage-4m6zkca9-en/landscape/do-not-fear-the-hard-things-of-marriage-4m6zkca9.jpg?ts=1454950892&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=580&h=327&dpr=2&ch=Width%2CDPR" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Article</h5>
          <h6 class="card-subtitle mb-2 text-muted">Do Not Fear the Hard Things of Marriage</h6>
        </div>
        <div class="card-footer text-right">
          <a href="https://www.desiringgod.org/articles/do-not-fear-the-hard-things-of-marriage" class="btn btn-outline-secondary btn-sm" target="_blank">Open</a>
        </div>
      </div>
    </div>
  </div>
</div>
