<div class="jumbotron primary p-0">
  <div class="overlay py-5 px-3 px-md-5">
    <h1 class="display-4 text-pink">Jeanny Wu &amp; Tataihono Nikora</h1>
    <p class="lead mx-md-5">
      We are excited to invite our friends and family on May 11, 2019 to our wedding at the Baptist Tablernacle, Auckland, New Zealand.
    </p>
  </div>
</div>
<div class="row text-center m-2 m-md-5">
  <div class="col-md-6">
    <h1>I do not have an invite yet</h1>
    <%= link_to 'Send me an Invite', new_invite_path, class: 'btn btn-lg btn-secondary d-block d-md-inline-block' %>
  </div>
  <div class="col-md-6 mb-5">
    <h1>I have my invite code</h1>
    <%= link_to 'Find my Invite & RSVP', find_invite_path, class: 'btn btn-lg btn-primary d-block d-md-inline-block' %>
  </div>
</div>
