<div class="jumbotron primary p-0 mb-0">
  <div class="overlay py-5 px-3 px-md-5">
    <h1 class="display-4 text-pink">Jeanny Wu &amp; Tataihono Nikora</h1>
    <p class="lead mx-md-5">
      We are excited to invite our friends and family on May 11, 2019 to our wedding at the Baptist Tabernacle, Auckland, New Zealand.
    </p>
  </div>
</div>
<div class="row text-center my-0 my-md-5">
  <div class="col-md-6 mt-4 mt-md-0">
    <h1 class="mb-3">I do not have an invite yet</h1>
    <%= link_to 'Send me an Invite', new_invite_path, class: 'btn btn-lg btn-secondary d-block d-md-inline-block' %>
  </div>
  <div class="col-md-6 my-3 my-md-0">
    <h1 class="mb-3">I have my invite code</h1>
    <%= link_to 'Find my Invite & RSVP', find_invite_path, class: 'btn btn-lg btn-primary d-block d-md-inline-block' %>
  </div>
</div>
