<% content_for :heading do %>
<div class="primary background-2">
  <div class="overlay">
    <div class="container">
      <%= render 'messages' %>
    </div>
    <div class="content container">
      <div class="text-center text-md-left">
        <h1 class="display-2 mb-0">Kia Ora!</h1>
        <p>Enter Your Invite Code</p>
        <%= simple_form_for Invite.new, url: invite_path do |f| %>
          <%= f.input :code, label: false, input_html: { maxlength: 5, autofocus: true, class: 'mx-auto mx-md-0' } %>
          <%= f.submit class: 'btn btn-primary', value: 'Find My Invite' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% content_for :footer do %>
<div class="d-none"></div>
<% end %>
