$primary-color: #152848;
@import 'formadmin/formadmin';

body, html, h1, h2, h3, h4, h5, h6 {
  font-family: brandon-grotesque, sans-serif;
}
#header.header .site_title {
  margin-right: 0;
}
form .choice {
  &:first-child {
    padding-top: 0;
  }
  input[type=radio] {
    margin-right: 10px;
  }
}
.choices legend.label {
  color: #5c5c5c;
  float: left;
  font-weight: bold;
  width: 20%;
}
form fieldset.actions ol {
  text-align: right;
  li:last-child {
    margin-right: 0;

  }
}
form.active_admin_comment textarea {
  max-width: initial;
}
a.button, a:link.button, a:visited.button, a.clear_filters_btn, .cancel a, input[type='submit'], input[type='button'], button {
  text-transform: uppercase;
}
