$color-navy: #152848;
$color-pink: #EFB6B0;

$theme-colors: (
  "primary": $color-navy,
  "secondary": $color-pink
);


@import "fontawesome/fontawesome";
@import "fontawesome/light";
@import "fontawesome/regular";
@import "fontawesome/solid";
@import "bootstrap";

@each $breakpoint in map-keys($grid-breakpoints) {
  @if $breakpoint != "xs" {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      @each $prop, $abbrev in (width: w, height: h) {
        @each $size, $length in $sizes {
          .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
        }
      }
    }
  }
}

@font-face {
  font-family: 'daydream';
  src: font-url('daydream.woff2') format('woff2'),
       font-url('daydream.woff') format('woff'),
       font-url('daydream.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  height: 100%;
}
body, html, .text-body {
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-size: 1.15rem;
}
h1, h2, h3, h4, h5, .text-heading {
  font-family: daydream, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.card {
  .card-img-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: #777777;
    color: #fff;
    font-size: 50px;
  }
}
.card-deck {
  margin-left: -5px;
  margin-right: -5px;
  .card {
    margin-left: 5px;
    margin-right: 5px;
  }
}
.primary {
  background-image: image-url('background-1.jpg');
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  &.background-2 {
    background-image: image-url('background-2.jpg');
    background-position: top center;
  }
  .overlay {
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    background: rgba(0,0,0,0.4);
    .messages {
      text-align: left;
    }
    .content {
      margin: auto;
      .display-2 {
        font-size: 4.0rem;
        line-height: 60px;
      }
    }
    .footer {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }
}
.navbar {
  border-radius: 5px;
  font-size: 1rem;
  &.bg-dark {
    background-color: $color-navy !important;
  }
  .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: brandon-grotesque, sans-serif;
    text-transform: capitalize;
  }
}
.padding-navbar-top {
  padding-top: 80px;
}
#invite_code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 100px;
  height: 120px;
  width: 330px;
}
.btn-block + .btn-block {
  margin-top: 0;
}
.text-navy {
  color: $color-navy;
}
.text-pink {
  color: $color-pink;
}
.actions {
  background: #ececec;
  text-align: right;
  border-radius: 5px;
  padding: 20px 15px;
}
.remove_association {
  margin-top: 2.16rem;
}
.ceremony {
  background-image: image-url('ceremony.jpg');
  background-size: cover;
}
.gifts {
  background-image: image-url('gifts.jpg');
  background-size: cover;
}
.reception {
  background-image: image-url('reception.jpg');
  background-size: cover;
}
.btn-group-toggle input[type=radio] {
  display: none;
}
