<div class="card-group mb-2">
  <div class="card">
    <div class="card-img-top card-img-icon">
      <i class="fal fa-church"></i>
    </div>
    <div class="card-body">
      <h2 class="card-title text-center">Ceremony</h2>
      <p class="card-text">
      Auckland Baptist Tablernacle @ 11am
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-img-top card-img-icon">
      <i class="fal fa-apple-crate"></i>
    </div>
    <div class="card-body">
      <h2 class="card-title text-center">Afternoon Tea</h2>
      <p class="card-text">
      Auckland Baptist Tablernacle @ 1pm
      </p>
    </div>
  </div>
  <% if invite.reception? %>
  <div class="card">
    <div class="card-img-top card-img-icon">
      <i class="fal fa-utensils"></i>
    </div>
    <div class="card-body">
      <h2 class="card-title text-center">Reception</h2>
      <p class="card-text">
      Alexander Park @ 6pm
      </p>
    </div>
  </div>
  <% end %>
</div>
