<div class="card-deck">
  <div class="card">
    <div class="card-img-top card-img-icon ceremony">
      <i class="fal fa-church"></i>
    </div>
    <div class="card-body text-center">
      <h2 class="card-title">Ceremony</h2>
      <p class="card-text">
        Auckland Baptist Tabernacle
        <br>
        429 Queen St, Auckland
        <br>
        Afternoon Tea to Follow
        <br>
        1 - 2pm
      </p>
      <a class="btn btn-secondary btn-block" target="_blank" href="https://www.google.com/maps/place/Auckland+Baptist+Tabernacle/@-36.857422,174.7591513,17z/data=!4m13!1m7!3m6!1s0x6d0d47e8fbd78d59:0x14a2c8114c0d737f!2s429+Queen+St,+Auckland,+1010!3b1!8m2!3d-36.857422!4d174.76134!3m4!1s0x6d0d47e8f466b573:0x2d8ba1dcbf253915!8m2!3d-36.857422!4d174.76134">
        Open on Google Maps
      </a>
    </div>
  </div>
  <% if invite.reception? %>
  <div class="card">
    <div class="card-img-top card-img-icon reception">
      <i class="fal fa-utensils"></i>
    </div>
    <div class="card-body text-center">
      <h2 class="card-title">Reception</h2>
      <p class="card-text">
        Grand Park Chinese Restaurant
        <br>
        Alexandra Park
        <br>
        Green Ln W, Epsom, Auckland
        <br>
        5.30pm - 10pm
      </p>
      <a class="btn btn-secondary btn-block" target="_blank" href="https://www.google.com/maps/place/Grand+Park+Chinese+Seafood+Restaurant/@-36.8923332,174.7739165,17z/data=!3m1!4b1!4m5!3m4!1s0x6d0d4882ce0bfc5b:0xa5406d5e11373b0a!8m2!3d-36.8923332!4d174.7761052">
        Open on Google Maps
      </a>
    </div>
  </div>
  <% end %>
  <div class="card">
    <div class="card-img-top card-img-icon gifts">
      <i class="fal fa-gifts"></i>
    </div>
    <div class="card-body text-center">
      <h2 class="card-title">Gifts</h2>
      <p class="card-text">
        Your presence would mean the most to us. However, if you desire to bless us with a gift, a financial contribution to the start of our marriage would be much appreciated.
      </p>
      <p class="card-text">
        Tataihono R Nikora
        <br>
        06-0241-0692773-00
      </p>
    </div>
  </div>
</div>
