<% content_for :heading do %>
<div class="primary">
  <div class="content">
    <h1 class="display-4">Welcome <%= invite.name %>.</h1>
    <p class="lead">Join us on 11 May 2019 as we get married!</p>
    <%= link_to 'RSVP', edit_invite_path, class: 'btn btn-primary btn-lg' %>
  </div>
  <div class="footer">
    <h1 class="display-4"><i class="fal fa-chevron-double-down"></i></h1>
  </div>
</div>
<% end %>
<%= render 'events' %>
